{{outlet}}

<div class="vbox">

  <div class="main-div">
    <div class='hbox'>
      <div class="game" id="panel-izquierdo">

        <div class="padding-button-bar">
          {{#async-button id="guardar-y-regresar" class="ui button basic" action="guardarYRegresar"}}
            <i class="chevron left icon"></i> Guardar y Regresar
          {{/async-button}}
        </div>

        <div class="button-game-bar">

          <div class="ui basic buttons fixed">
            <button class="ui button" {{action "abrirModalActores"}}><i class="plus icon no-margin"></i></button>
            <button class="ui button" {{action "abrirModalFondo"}}><i class="image icon no-margin"></i></button>
          </div>

        </div>

        {{pilas-canvas pilas=pilas onReady="onReady"}}

        {{#if estadoFinalNoEditable}}
          <div class="nota-finalizaEjecucion">
            Finalizó la ejecución. <br/>

            Pulsá 'reiniciar' para volver<br/>
            a editar la escena.
          </div>
        {{/if}}

      </div>

      {{pilas-splitter panelIzquierdoID="panel-izquierdo" panelDerechoID="panel-derecho"}}

      <div class="workspace" id="panel-derecho">

        <div class="padding-button-bar">

          {{#if ejecutando}}
            <button class="ui basic button primary disabled">
              <i class="play icon"></i> Ejecutando ...</button>
          {{else}}
            {{#if finalizado}}
              <button class="ui basic button warning" {{action "reiniciar"}}><i class="refresh icon"></i> Reiniciar</button>
            {{else}}
              <button class="ui basic button primary" {{action "ejecutar"}}><i class="play icon"></i> Ejecutar</button>
            {{/if}}
          {{/if}}


          {{#if ejecutando}}
            <button class="ui basic button orange" {{action "detener"}}><i class="stop icon"></i> Detener</button>
          {{/if}}

        </div>

        {{pilas-lista-de-actores actorSeleccionado=currentActor actores=model.actors onSelect="onSelect" onRemove=(action "onRemove")}}

        {{ember-blockly blocks=blocksForCurrentActor onChangeWorkspace="onChangeWorkspace" workspace=workspaceFromCurrentActor class="ember-blockly-container" withZoom=true withTrash=true}}

      </div>
    </div>
  </div>

</div>


{{pilas-modal-fondo fondosDisponibles=fondosDisponibles cuandoSeleccionaFondo="cuandoSeleccionaFondo"}}
{{pilas-modal-actores clasesDeActores=classes cuandoSeleccionaActor="cuandoSeleccionaActor"}}
