{{outlet}}

{{pilas-modal-fondo fondosDisponibles=fondosDisponibles cuandoSeleccionaFondo="cuandoSeleccionaFondo"}}
{{pilas-modal-actores clasesDeActores=classes cuandoSeleccionaActor="cuandoSeleccionaActor"}}

{{#if overlayVisible}}
  <div class="overlay" {{action "onClickOverOverlay"}}>
  </div>
{{/if}}


{{pilas-atajos-de-teclado ejecutando=ejecutando keyboardActivated=true
  ejecutar=(route-action "ejecutar")
  detener=(route-action "detener")
}}

<div class="vbox">

  <div class="main-div">
    <div class='hbox'>
      <div class="game" id="panel-izquierdo">

        <div class="padding-button-bar">
          {{#async-button id="guardar-y-regresar" class="ui button basic" action="guardarYRegresar" as |component state|}}

            <i class="chevron left icon"></i> Guardar y Regresar

            {{#if state.isPending}}
              <div class="ui active mini inline loader"></div>
            {{/if}}

          {{/async-button}}
        </div>

        <div class="button-game-bar">

          <div class="ui basic buttons fixed">
            <button class="ui button" {{action "abrirModalActores"}}><i class="plus icon no-margin"></i></button>
            <button class="ui button" {{action "abrirModalFondo"}}><i class="image icon no-margin"></i></button>
          </div>

        </div>

        {{pilas-canvas pilas=pilas onReady="onReady"}}

      </div>

      {{pilas-splitter deslizador=deslizador panelIzquierdoID="panel-izquierdo" panelDerechoID="panel-derecho"}}

      <div class="workspace" id="panel-derecho">

        <div class="padding-button-bar">

          {{#if ejecutando}}

            {{#if pasoAPaso}}
              {{#if pausado}}
                <button class="ui basic button orange step-button" {{action "avanzarUnPaso"}}><i class="step forward icon"></i> Avanzar un paso </button>
              {{else}}
                <button class="ui basic button disabled orange step-button" {{action "avanzarUnPaso"}}><i class="step forward icon"></i> Avanzar un paso </button>
              {{/if}}
            {{/if}}


            <button class="ui basic button primary disabled">
              <i class="play icon"></i> Ejecutando ...</button>
          {{else}}
            {{#if finalizado}}
              <button class="ui basic button warning" {{action "reiniciar"}}><i class="refresh icon"></i> Reiniciar</button>
            {{else}}
              <button class="ui basic button primary" {{action "ejecutar"}}><i class="play icon"></i> Ejecutar</button>
              <button class="ui basic button primary" {{action "ejecutarPasoAPaso"}}><i class="play icon"></i> Ejecutar paso a paso</button>
            {{/if}}
          {{/if}}

          {{#if ejecutando}}
            <button class="ui basic button orange" {{action "detener"}}><i class="stop icon"></i> Detener</button>
          {{/if}}

        </div>

        {{pilas-lista-de-actores actorSeleccionado=currentActor actores=model.actors onSelect="onSelect" onRemove=(action "onRemove")}}

        {{#if hayActoresEnLaEscena}}
          {{ember-blockly blocks=blocksForCurrentActor onChangeWorkspace="onChangeWorkspace" workspace=workspaceFromCurrentActor class="ember-blockly-container" withZoom=true withTrash=true
            media="blockly-package/media/"
            highlightedBlock=highlightedBlockForCurrentActor
            duplicate=false
            help=false
            disableBlock=false
            comment=false
            disableNotConnectedToMainBlock=true
          }}
        {{else}}
          {{ember-blockly
            readOnly=true
            class="ember-blockly-container ember-blockly-container-disabled"
            withZoom=true
            withTrash=true
          }}
        {{/if}}

      </div>
    </div>
  </div>

</div>
